@font-face {
    font-family: 'Domine';
    src: url('/fonts/Domine/Domine-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: "Domine";
    src: url("/font/Domine/static/Domine-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif";
    src: url("/font/Noto_Serif/NotoSerif-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Serif";
    src: url("/font/Noto_Serif/NotoSerif-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("/font/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

.f-f-domine {
    font-family: "Domine", sans-serif;
}
.f-f-noto {
    font-family: "Noto Serif", serif;
}
.f-f-roboto {
    font-family: "Roboto Slab", serif;
}
.bg-light {
    background-color: #fdf5eb !important;
}
.navbar-brand {
    img {
        height: 120px;
    }
}
.btn-primary {
    color: #000;
    background-color: #eaa636;
    border-color: #eaa636;
}
.text-primary {
    color: #eaa636 !important;
}
a {
    text-decoration: none;
}
