$primary: #00204a;
$secondary: #005555;
$font-family-sans-serif: "Work Sans", sans-serif;
$font-family-sans-serif-secondary: "Work Sans", sans-serif;

@import "theme/site-navbar";
@import "theme/site-base";
@import "theme/site-blocks";
@import "theme/site-footer";
